streamlit
pandas
plotly
pydeck
supabase
feedparser
vaderSentiment
beautifulsoup4
lxml
groq
dateparser
requests
sentence-transformers
scikit-learn
numpy
fastapi
uvicorn
websockets
aiohttp
instaloader
ntscraper
telethon
